:root {
  --riC1: #3D4D55;
  --riC2: #A79E9C;
  --riC3: #D3C3B9;
  --riC4: #B58863;
  --riC5: #161616;
  --riC6: #10332A;
}

body {
 /* Appliquer à tous les liens <a> */
a::after,
button::after {
  content: ""; /* par défaut rien */
  margin-left: 8px; /* espace entre le texte et la flèche */
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  display: inline-block;
  transform: translateX(-5px);
}

/* Lorsqu'on survole ou focus sur le lien / bouton */
a:hover::after,
a:focus::after,
button:hover::after,
button:focus::after {
  content: "→";  /* La flèche apparaît */
  opacity: 1;
  transform: translateX(0); /* animation de glissement */
}

}

/* background canvas behind everything */
#background-canvas {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;     /* derrière le contenu */
  pointer-events: none; /* laisse cliquer les éléments au-dessus */
}

